CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_zn_m2=y

CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_FIRMWARE_VERSION_12_5=y
CONFIG_PACKAGE_luci-app-openlist2=y
CONFIG_PACKAGE_luci-app-athena-led=m
CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=m

# CONFIG_NSS_DRV_WIFIOFFLOAD_ENABLE is not set
# CONFIG_PACKAGE_ipq-wifi-cmiot_ax18 is not set
# CONFIG_PACKAGE_ipq-wifi-jdcloud_re-cs-02 is not set
# CONFIG_PACKAGE_ipq-wifi-jdcloud_re-ss-01 is not set
# CONFIG_PACKAGE_ipq-wifi-qihoo_v6 is not set
# CONFIG_PACKAGE_ipq-wifi-redmi_ax5 is not set
# CONFIG_PACKAGE_ipq-wifi-redmi_ax5-jdcloud is not set
# CONFIG_PACKAGE_ipq-wifi-xiaomi_ax1800 is not set
# CONFIG_PACKAGE_ipq-wifi-zn_m2 is not set
